@charset "UTF-8";
/*-- VARIABLES --*/
/*-- MIXINS --*/
/*-- MAPS --*/
/*-- GENERAL --*/
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: Roboto, sans-serif;
  color: #1e272e;
}

body {
  background-color: #fff;
}

h1, h2, h3 {
  font-size: 1.5rem;
}

a {
  text-decoration: none;
}

/*-- HEADER --*/
.heading {
  width: 100%;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  position: relative;
  z-index: 1;
  font-family: Shrikhand, cursive;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-shadow: 2px 3px 3px rgba(128, 128, 128, 0.171);
          box-shadow: 2px 3px 3px rgba(128, 128, 128, 0.171);
}

.heading__img {
  width: 45%;
  min-width: 167px;
  max-width: 280px;
  margin: 1.4rem 0 0.8rem;
  opacity: 95%;
}

.heading__return-home {
  position: absolute;
  top: 40%;
  left: 8%;
}

/*-- SECTION LOCALISATION --*/
.localisation {
  background-color: #f0f0f0;
  width: 100%;
  height: 2.2rem;
  padding: 1.5rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
}

.localisation__para {
  padding: 0 1.2rem 0;
}

/*-- SECTION EXPLORER --*/
.explorez {
  padding: 2rem 2rem;
  text-align: center;
  height: 18rem;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#fff), to(rgba(236, 236, 236, 0.685)));
  background-image: linear-gradient(to bottom, #fff, rgba(236, 236, 236, 0.685));
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
}

.explorez__para {
  font-size: 1.1rem;
  font-weight: 300;
  color: #555555;
}

.explorez h1 {
  padding: 0 1.7rem;
}

/*-- COMPONENT BTN --*/
.btn {
  font-size: 1rem;
  padding: 0.9rem 1.3rem;
  margin: 0.7rem 0;
  color: #eeeeee;
  background-image: -webkit-gradient(linear, left top, right bottom, from(#FF79DA), to(#9356DC));
  background-image: linear-gradient(to bottom right, #FF79DA, #9356DC);
  border: none;
  border-radius: 1.7rem;
  -webkit-box-shadow: 2px 3px 9px 1px rgba(128, 128, 128, 0.158);
          box-shadow: 2px 3px 9px 1px rgba(128, 128, 128, 0.158);
}

.btn a {
  color: #eeeeee;
}

.btn:hover, .btn:focus {
  -webkit-transition: 0.2s ease-in-out;
  transition: 0.2s ease-in-out;
  -webkit-box-shadow: 2px 3px 9px 1px rgba(128, 128, 128, 0.623);
          box-shadow: 2px 3px 9px 1px rgba(128, 128, 128, 0.623);
  opacity: 0.9;
}

/*-- SECTION FONCTIONNEMENT --*/
.fonctionnement {
  width: 100%;
  padding: 1.8rem 1.2rem;
}

.fonctionnement h2 {
  margin: 1rem 0;
}

.fonctionnement__container {
  padding: 1rem 0 2.5rem;
  width: 100%;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  gap: 1.6rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.fonctionnement__carte {
  width: 96%;
  max-width: 20rem;
  padding: 1.6rem 0;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  background-color: whitesmoke;
  border-radius: 20px;
  -webkit-box-shadow: 2px 3px 9px 1px rgba(128, 128, 128, 0.158);
          box-shadow: 2px 3px 9px 1px rgba(128, 128, 128, 0.158);
}

.fonctionnement__carte i {
  width: 15px;
  padding: 0 2.5rem;
  color: #555555;
}

.fonctionnement__carte span {
  position: absolute;
  padding: 0.3rem 0.5rem;
  font-size: 0.8rem;
  border-radius: 1rem;
  color: #eeeeee;
  background-color: #9356DC;
  -webkit-transform: translate(-50%);
          transform: translate(-50%);
}

.fonctionnement__carte:hover {
  -webkit-transition: 0.2s ease-in-out;
  transition: 0.2s ease-in-out;
  -webkit-transform: scale(1.01);
          transform: scale(1.01);
  -webkit-box-shadow: 2px 3px 9px 1px rgba(128, 128, 128, 0.623);
          box-shadow: 2px 3px 9px 1px rgba(128, 128, 128, 0.623);
  background-color: #f2eafb;
}

.fonctionnement__carte:hover i {
  color: #9356DC;
}

/*- COMPONENT HEART -*/
.heart__container {
  width: 45px;
  height: 25px;
  position: relative;
}

.heart__container i {
  position: absolute;
  cursor: pointer;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  padding: 0.3rem;
}

.heart__container i:hover + .heart--full {
  -webkit-transform: scale(1.05);
          transform: scale(1.05);
}

.heart__container .heart--empty {
  position: absolute;
  -webkit-text-stroke: 1px #555555;
  background: transparent;
}

.heart__container .heart--full {
  position: absolute;
  -webkit-text-stroke: 1px transparent;
  background: -webkit-linear-gradient(250deg, #9356DC, #FF79DA);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  -webkit-transform: scale(0);
          transform: scale(0);
  -webkit-transition: 0.4s ease-out;
  transition: 0.4s ease-out;
  /* Duplication de l'effet hover pour éviter l'interruption de l'animation lorsque heart--full grandit*/
}

.heart__container .heart--full:hover {
  -webkit-transform: scale(1.05);
          transform: scale(1.05);
}

/*-- SECTION RESTAURANTS --*/
.restaurants {
  width: 100%;
  padding: 2rem 1.2rem 3.5rem;
  background-color: #f0f0f0;
}

.restaurants h3 {
  margin: 0.8rem 0;
}

.restaurants-container {
  width: 100%;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.restaurants-carte {
  width: 100%;
  max-width: 450px;
  margin: 0.6rem 0;
  position: relative;
  overflow: hidden;
  text-overflow: ellipsis;
  background-color: #fff;
  border-top-left-radius: 1rem;
  border-top-right-radius: 1rem;
  border-bottom-left-radius: 1rem;
  border-bottom-right-radius: 1rem;
  -webkit-box-shadow: 2px 3px 9px 1px rgba(128, 128, 128, 0.158);
          box-shadow: 2px 3px 9px 1px rgba(128, 128, 128, 0.158);
}

.restaurants-carte__nouveau {
  position: absolute;
  top: 0;
  right: 0;
  font-size: 13px;
  padding: 0.4rem 0.8rem;
  background-color: #99E2D0;
  color: #278870;
  -webkit-transform: translate(-15%, 40%);
          transform: translate(-15%, 40%);
  border-radius: 2px;
}

.restaurants-carte__img {
  width: 100%;
  height: 11rem;
  -o-object-fit: cover;
     object-fit: cover;
}

.restaurants-carte__description {
  position: relative;
  padding: 0.6rem 0.8rem 0.8rem;
  line-height: 1.6rem;
}

.restaurants-carte__description .heart__container {
  position: absolute;
  top: 0;
  right: 0;
  -webkit-transform: translate(-15%, 55%);
          transform: translate(-15%, 55%);
}

.restaurants-carte__heading {
  font-size: 1.1rem;
  font-weight: bold;
}

.restaurants-carte__element {
  font-weight: 300;
  color: #555555;
}

.restaurants-carte:hover {
  -webkit-transition: 0.2s ease-in-out;
  transition: 0.2s ease-in-out;
  -webkit-transform: scale(1.01);
          transform: scale(1.01);
  -webkit-box-shadow: 2px 3px 9px 1px rgba(128, 128, 128, 0.623);
          box-shadow: 2px 3px 9px 1px rgba(128, 128, 128, 0.623);
}

/*-- PAGES MENU --*/
.resto {
  width: 100%;
  height: 13.5rem;
  position: relative;
}

.resto__img {
  width: 100%;
  height: 16rem;
  position: absolute;
  -o-object-fit: cover;
     object-fit: cover;
}

.menu {
  width: 100%;
  position: relative;
  z-index: 1;
  border-top-right-radius: 40px;
  border-top-left-radius: 40px;
  background-color: #f0f0f0;
}

.menu__header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  padding: 2rem 1.5rem 0.7rem;
}

.menu__header .heading {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-shadow: none;
          box-shadow: none;
  font-size: 1.7rem;
}

.menu__header .heart {
  padding-right: 0.8rem;
}

.menu__bloc {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  gap: 1rem;
  padding: 1.3rem 0;
}

.menu__title {
  width: 100%;
  padding: 0 1.5rem 0.4rem;
  position: relative;
  z-index: 1;
  font-weight: 300;
  color: #555555;
  text-transform: uppercase;
}

.menu__title::before {
  content: "";
  position: absolute;
  left: 1.5rem;
  bottom: 0;
  height: 1px;
  width: 2.5rem;
  border-bottom: 3px solid #99E2D0;
}

.menu__description {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  width: 92%;
  max-width: 510px;
  background-color: #fff;
  border-radius: 1rem;
  overflow: hidden;
  -webkit-box-shadow: 2px 3px 9px 1px rgba(128, 128, 128, 0.158);
          box-shadow: 2px 3px 9px 1px rgba(128, 128, 128, 0.158);
}

.menu__description:hover {
  -webkit-box-shadow: 2px 3px 9px 1px rgba(128, 128, 128, 0.623);
          box-shadow: 2px 3px 9px 1px rgba(128, 128, 128, 0.623);
  -webkit-transform: scale(1.01);
          transform: scale(1.01);
  -webkit-transition: 0.2s ease-in-out;
  transition: 0.2s ease-in-out;
}

.menu__description:hover > .menu__description-checkbox {
  width: 20%;
}

.menu__description:hover > .menu__description-checkbox i {
  -webkit-transform: rotate(1turn);
          transform: rotate(1turn);
}

.menu__description-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: baseline;
      -ms-flex-align: baseline;
          align-items: baseline;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  width: 100%;
  padding: 0.7rem;
}

.menu__description-item {
  width: 100%;
  display: block;
  font-size: 1.1rem;
  max-width: 90%;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.menu__description-byline {
  padding-top: 0.4rem;
  color: #555555;
  font-weight: 300;
  font-size: 0.9rem;
  max-width: 85%;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.menu__description-prix {
  padding: 0 0.4rem;
  font-size: 0.9rem;
}

.menu__description-checkbox {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  width: 0;
  overflow: hidden;
  border-top-right-radius: 1rem;
  border-bottom-right-radius: 1rem;
  background-color: #99E2D0;
  -webkit-transition: 0.4s ease-in-out;
  transition: 0.4s ease-in-out;
}

.menu__description-checkbox i {
  -webkit-transition: 0.5s ease-in-out;
  transition: 0.5s ease-in-out;
  color: #fff;
}

.menu .btn-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  padding: 2rem 0 4rem;
}

.menu .btn {
  padding-left: 3rem;
  padding-right: 3rem;
}

/*-- FOOTER --*/
.footer {
  padding: 0 1.4rem 1.7rem;
  font-weight: 300;
  background-color: #363636;
}

.footer__heading {
  font-family: Shrikhand, cursive;
  font-size: 1.1rem;
  padding: 1.4rem 0 0.9rem;
  color: #eeeeee;
}

.footer p {
  color: #eeeeee;
}

.footer__element {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  margin-bottom: 0.2rem;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  height: 1.4rem;
}

.footer__element i {
  color: #eeeeee;
  width: 13px;
  margin-right: 0.5rem;
}

.footer__element .icon--utensils {
  padding-left: 2px;
  padding-top: 1px;
}

.footer__element .icon--hands {
  -webkit-transform: scale(0.8, 1);
          transform: scale(0.8, 1);
}

.footer__element a {
  color: #eeeeee;
  text-decoration: none;
}

.footer__element--bold {
  font-weight: 400;
}

.footer__element:hover {
  -webkit-transition: 0.2s ease-in-out;
  transition: 0.2s ease-in-out;
  -webkit-transform: scale(1.05);
          transform: scale(1.05);
  cursor: pointer;
  text-shadow: 3px 4px 4px #1e272e;
}

/*-- MEDIAS QUERIES --*/
@media screen and (min-width: 1580px) {
  body {
    margin: auto 10%;
  }
}

@media screen and (min-width: 1023px) {
  .menu {
    max-width: 1024px;
    margin: 0 auto;
    -webkit-box-shadow: 2px 3px 9px 1px rgba(128, 128, 128, 0.158);
            box-shadow: 2px 3px 9px 1px rgba(128, 128, 128, 0.158);
  }
  .menu__header {
    padding: 3rem 15%;
  }
  .menu__header .heading {
    font-size: 2rem;
  }
  .menu__title {
    text-align: center;
  }
  .menu__title::before {
    left: 48%;
  }
  .menu__bloc {
    padding: 2rem 0;
    gap: 2rem;
  }
}

@media screen and (min-width: 943px) {
  .restaurants-carte {
    margin: 0;
  }
  .restaurants-container {
    gap: 2rem;
  }
}

@media screen and (min-width: 767px) {
  .footer__wrapper {
    margin: 0 auto;
    max-width: 1040px;
  }
  .footer__container {
    padding: 0.5rem 0 1rem;
    margin: 0 auto;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
  }
}
/*# sourceMappingURL=style.css.map */