/*-- VARIABLES --*/

$primary-color: #9356DC;
$secondary-color: #FF79DA;
$tertiary-color: #99E2D0;
$font-gray: #555555;
$font-white: rgb(238, 238, 238);
$font-black: #1e272e;
$background-gray: #f0f0f0;

/*-- MIXINS --*/

@mixin flex ($flexdirection: row, $justify-content: center, $align-items: center, $flex-wrap: nowrap) {
    display: flex; 
    flex-direction: $flexdirection;
    justify-content: $justify-content;
    align-items: $align-items;
    flex-wrap: $flex-wrap;
};

@mixin carte-radius {
    border-top-left-radius: 1rem;
    border-top-right-radius: 1rem;
    border-bottom-left-radius: 1rem;
    border-bottom-right-radius: 1rem;
};

@mixin transition { transition: 0.2s ease-in-out; };

@mixin debordemment ($max-width) {
    max-width: $max-width;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
};

/*-- MAPS --*/

$font-size: (
    small: 0.7rem,
    medium: 1.1rem,
    large: 1.5rem
);

$font-weight: (
    light: 300,
    medium: 500,
    bold: 700
);

$box-shadow: (
    normal: 2px 3px 9px 1px rgba(128, 128, 128, 0.158),
    hover: 2px 3px 9px 1px rgba(128, 128, 128, 0.623)
);

/*-- GENERAL --*/

* {
    margin: 0; padding: 0;
    box-sizing: border-box;
    font-family: Roboto, sans-serif;
    color: $font-black;
}

body { background-color: #fff; }

h1, h2, h3 { font-size: map-get($font-size, large); }

a { text-decoration: none; }

/*-- HEADER --*/

.heading {
    width: 100%; height: fit-content;
    position: relative; z-index: 1;
    font-family: Shrikhand, cursive;
    display: flex; justify-content: center;
    box-shadow: 2px 3px 3px rgba(128, 128, 128, 0.171);

    &__img { 
        width: 45%; 
        min-width: 167px; max-width: 280px;
        margin: 1.4rem 0 0.8rem;
        opacity: 95%;
    }

    &__return-home {
        position: absolute;
        top: 40%; left: 8%;
    }
}

/*-- SECTION LOCALISATION --*/

.localisation {
    background-color: $background-gray;
    width: 100%; height: 2.2rem;
    padding: 1.5rem;
    @include flex();

    &__para { 
        padding: 0 1.2rem 0;
        font-weight: map-get($font-weight, normal); 
    }
}

/*-- SECTION EXPLORER --*/

.explorez {
    padding: 2rem 2rem;
    text-align: center;
    height: 18rem;
    background-image: linear-gradient(to bottom, #fff, rgba(236, 236, 236, 0.685));
    @include flex(column, space-around);
    
    &__para {
        font-size: map-get($font-size, medium);
        font-weight: map-get($font-weight, light);
        color: $font-gray;
    }

    h1 { padding: 0 1.7rem; }
}

/*-- COMPONENT BTN --*/

.btn {
    font-size: 1rem;
    padding: 0.9rem 1.3rem; margin: 0.7rem 0;
    color: $font-white; background-image: linear-gradient(to bottom right, $secondary-color, $primary-color);
    border: none; border-radius: 1.7rem;
    box-shadow: map-get($box-shadow, normal);

    a { color: $font-white; }

    &:hover,
    &:focus {
        @include transition();
        box-shadow: map-get($box-shadow, hover);
        opacity: 0.9;
    }
}

/*-- SECTION FONCTIONNEMENT --*/

.fonctionnement {
    width: 100%; 
    padding: 1.8rem 1.2rem; 

    h2 { margin: 1rem 0; }

    &__container {
        padding: 1rem 0 2.5rem;
        width: 100%; height: fit-content;
        gap: 1.6rem;
        @include flex(row, space-around, center, wrap);
    }

    &__carte {
        width: 96%; max-width: 20rem;
        padding: 1.6rem 0; 
        position: relative;
        @include flex(row, flex-start, center);
        background-color: lighten($background-gray, 2%);
        border-radius: 20px;
        box-shadow: map-get($box-shadow, normal);

        i {
            width: 15px;
            padding: 0 2.5rem;
            color: $font-gray;
        }

        span {
            position: absolute;
            padding: 0.3rem 0.5rem;
            font-size: 0.8rem;
            border-radius: 1rem;
            color: $font-white; background-color: $primary-color;
            transform: translate(-50%);
            
        }

        &--highlighted {
            background-color: lighten($primary-color, 35%);

            i { color: $primary-color; }
        }

        &:hover {
            @include transition();
            transform: scale(1.01);
            box-shadow: map-get($box-shadow, hover);
        }
    }
}

/*- COMPONENT HEART -*/

.heart {
    -webkit-text-stroke: 1px $font-gray;
    background: transparent;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    padding: 0.3rem;

    &:hover {
        cursor: pointer;
        -webkit-text-stroke: 1px transparent;
        background: -webkit-linear-gradient(250deg, $primary-color, $secondary-color);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        animation: remplissage 0.5s ease-in-out;

        /*- Effet remplissage -*/

        @keyframes remplissage {
            from { opacity: 0; }
          
            to { opacity: 1; }
        } 
    }
}

/*-- SECTION RESTAURANTS --*/

.restaurants {
    width: 100%; 
    padding: 2rem 1.2rem 3.5rem;
    background-color: $background-gray;

    h3 { margin: 0.8rem 0; }

    &-container {
        width: 100%; height: fit-content;
        @include flex(row, space-around, center, wrap);
    }

    &-carte {
        width: 100%; max-width: 450px;
        margin: 0.6rem 0;
        position: relative;
        overflow: hidden; text-overflow: ellipsis;
        background-color: #fff;
        @include carte-radius();
        box-shadow: map-get($box-shadow, normal);

        &__nouveau {
            position: absolute;
            top: 0; right: 0;
            font-size: 13px;
            padding: 0.4rem 0.8rem;
            background-color: $tertiary-color;
            color: darken($tertiary-color, 40%);
            transform: translate( -15%, 40%);
            border-radius: 2px;
        }

        &__img {
            width: 100%;
            height: 11rem;
            object-fit: cover;
        }

        &__description {
            position: relative;
            padding: 0.6rem 0.8rem;
            line-height: 1.5rem;

            .heart {
                position: absolute;
                top: 0; right: 0;
                transform: translate(-50%, 70%);
            }
        }

        &__heading {
            font-size: 1.1rem;
            font-weight: bold;
        }

        &__element {
            font-weight: map-get($font-weight, light);
            color: $font-gray;
        }

        &:hover {
            @include transition();
            transform: scale(1.01);
            box-shadow: map-get($box-shadow, hover);
        }
    
    }

}

/*-- PAGES MENU --*/

.resto {
    width: 100%; height: 13.5rem;
    position: relative;

    &__img {
        width: 100%;
        height: 16rem;
        position: absolute;
        object-fit: cover;
    }
}

.menu { 
    width: 100%;
    position: relative; z-index: 1;
    border-top-right-radius: 40px;
    border-top-left-radius: 40px;
    background-color: $background-gray;

    &__header {
        @include flex(row, space-between, center, nowrap);
        padding: 2rem 1.5rem 1.5rem;

        .heading {
            justify-content: space-between;
            box-shadow: none;
        }

        .heart {
            padding-right: 0.8rem;
        }
    }

    &__bloc {
        @include flex(column, space-around, center, nowrap);
        gap: 1rem;
        padding: 0.7rem 0; 
    }

    &__title {
        width: 100%;
        padding: 0 1.5rem 0.4rem;
        position: relative;
        z-index: 1;
        font-weight: map-get($font-weight, light);
        color: $font-gray;

        &::before {
            content: "";
            position: absolute;
            left: 1.5rem; bottom: 0;
            height: 1px;
            width: 2.5rem;
            border-bottom: 3px solid $tertiary-color;
        }
    }

    &__description {
        @include flex(row, space-between, stretch, nowrap);
        width: 92%; max-width: 510px;
        background-color: #fff;
        border-radius: 1rem;
        overflow: hidden;
        box-shadow: map-get($box-shadow, normal);

        &:hover { 
            box-shadow: map-get($box-shadow, hover);
            transform: scale(1.01); 
            @include transition();
        }

        &:hover > .menu__description-checkbox { 
            width: 20%; 

            i {
                transform: rotate(1turn);
            }
        }

        &-container {
            @include flex(row, space-between, baseline, wrap);
            width: 100%;
            padding: 0.7rem;
        }

        &-item {
            width: 100%;
            display: block;
            font-size: 1.1rem;
            @include debordemment(90%);
        }

        &-byline {
            padding-top: 0.4rem;
            color: $font-gray;
            font-weight: map-get($font-weight, light);
            font-size: 0.9rem;
            @include debordemment(85%);
        }

        &-prix {
            padding: 0 0.4rem;
            font-size: 0.9rem;
        }

        &-checkbox {
            @include flex(column, center, center, nowrap);
            width: 0; 
            overflow: hidden;
            border-top-right-radius: 1rem;
            border-bottom-right-radius: 1rem;
            background-color: $tertiary-color;
            transition: 0.4s ease-in-out;

            i { 
                transition: 0.5s ease-in-out;
                color: #fff; 
            }
        }
    }

    .btn-container {
        @include flex(row, center, center, nowrap);
        padding: 2rem 0 4rem;
    }

    .btn {
        padding-left: 3rem;
        padding-right: 3rem; 
    }
}


/*-- FOOTER --*/

.footer {
    padding: 0 1.4rem 1.7rem;
    font-weight: 300;
    background-color: rgb(54, 54, 54);

    &__heading { 
        font-family: Shrikhand, cursive;
        font-size: map-get($font-size, medium);
        padding: 1.4rem 0 0.9rem;
        color: $font-white;
    }

    p { color: $font-white; }

    &__element {
        @include flex(row, start);
        margin-bottom: 0.2rem;
        width: fit-content; height: 1.4rem;

        & i {
            color: $font-white;
            width: 13px;
            margin-right: 0.5rem;
        }

        .icon--utensils {
            padding-left: 2px;
            padding-top: 1px;
        }

        .icon--hands { transform: scale(0.8, 1); }

        a {
            color: $font-white;
            text-decoration: none;
        }

        &--bold { font-weight: 400; }

        &:hover {
            @include transition();
            transform: scale(1.05);
            cursor: pointer;
            text-shadow: 3px 4px 4px $font-black;
        }
    }
}

/*-- MEDIAS QUERIES --*/

@media screen and (min-width: 1580px) {
    body {
        margin: auto 10%;
    }
}

@media screen and (min-width: 1023px) {

    .menu {
        max-width: 1024px;
        margin: 0 auto;
        box-shadow: map-get($box-shadow, normal);

        &__header { 
            padding: 3rem 15%; 
            
            .heading {
                font-size: 2rem;
            }
        }

        &__title {
            text-align: center;
    
            &::before {
                left: 48%;
            }
        }
    
        &__bloc {
            padding: 2rem 0;
            gap: 2rem;
        }
    }
    
}

@media screen and (min-width: 943px) {
    .restaurants-carte { margin: 0; }
    .restaurants-container { gap: 2rem; }
}

@media screen and (min-width: 767px) {
    .footer__wrapper {
        margin: 0 auto;
        max-width: 1040px;
    }

    .footer__container {
        padding: 0.5rem 0 1rem;
        margin: 0 auto;
        @include flex(row, space-around, center);
    }
}

