/*-- LAYOUT --*/

* {
    margin: 0; padding: 0;
    box-sizing: border-box;
    font-family: Roboto, sans-serif;
}

/*-- VARIABLES --*/

$primary-color: #9356DC;
$secondary-color: #FF79DA;
$tertiary-color: #99E2D0;
$font-gray: #777777;
$font-white: rgb(238, 238, 238);
$font-black: #1e272e;
$background-gray: #9a9a9a2a;

/*-- MIXINS --*/

@mixin flex ($flexdirection: row, $justify-content: center) {
    display: flex; 
    flex-direction: $flexdirection;
    justify-content: $justify-content;
    align-items: center;
}

/*-- MAPS --*/

$font-size: (
    small: 0.7rem,
    medium: 1.1rem,
    large: 1.5rem
);

$font-weight: (
    light: 300,
    medium: 500,
    bold: 700
);

/*-- GENERAL --*/

body { background-color: #fff; }

h1,
h2 {
    font-size: map-get($font-size, large);
    color: $font-black;
}

/*-- HEADER --*/

.heading {
    width: 100%; height: fit-content;
    font-family: Shrikhand, cursive;
    display: flex; justify-content: center;
    color: $font-black;
    box-shadow: 1px 1px 6px rgba(128, 128, 128, 0.397);

    &__img { 
        width: 45%; 
        min-width: 167px; max-width: 280px;
        margin: 1.4rem 0 0.8rem;
        opacity: 95%;
    }
}

/*-- SECTION LOCALISATION --*/

.localisation {
    color: $font-black; background-color: $background-gray;
    width: 100%; height: 2.2rem;
    padding: 1.5rem;
    @include flex();

    &__para { 
        padding: 0 1.2rem 0;
        font-weight: map-get($font-weight, normal); 
    }
}

/*-- SECTION EXPLORER --*/

.explorez {
    padding: 2rem 2rem;
    text-align: center;
    height: 18rem;
    background-image: linear-gradient(to bottom, #fff, rgba(236, 236, 236, 0.685));
    @include flex(column, space-around);
    
    &__para {
        font-size: map-get($font-size, medium);
        font-weight: map-get($font-weight, light);
        color: $font-gray;
    }

    h1 { padding: 0 1.7rem; }
}

/*-- COMPONENT BTN --*/

.btn {
    font-size: 1rem;
    padding: 0.9rem 1.3rem; margin: 0.7rem 0;
    color: $font-white; background-image: linear-gradient(to bottom right, $secondary-color, $primary-color);
    border: none; border-radius: 1.7rem;
    box-shadow: 2px 3px 9px 1px rgba(128, 128, 128, 0.397);

    &:hover,
    &:focus {
        opacity: 0.9;
        box-shadow: 2px 3px 9px 1px rgba(128, 128, 128, 0.623);
        transition: 0.2s ease-in;
    }
}

/*-- SECTION FONCTIONNEMENT --*/

.fonctionnement {
    h2 {
        height: 10rem;
    }
}

/*-- FOOTER --*/

.footer {
    padding: 0 1.4rem 1.7rem;
    font-weight: 300;
    color: $font-white; background-color: rgb(54, 54, 54);

    &__heading { 
        font-family: Shrikhand, cursive;
        font-size: map-get($font-size, medium);
        padding: 1.4rem 0 0.9rem;
    }

    &__element {
        @include flex(row, start);
        margin-bottom: 0.2rem;
        width: fit-content; height: 1.4rem;

        & i {
            width: 13px;
            margin-right: 0.5rem;
        }

        .icon--utensils {
            padding-left: 2px;
            padding-top: 1px;
        }

        .icon--hands { transform: scale(0.8, 1); }

        a {
            color: $font-white;
            text-decoration: none;
        }

        &--bold { font-weight: 400; }

        &:hover {
            font-size: 1.1rem;
            transition: 0.2s ease-in;
            cursor: pointer;
            text-shadow: 3px 4px 4px $font-black;
        }
    }
}