/*-- VARIABLES --*/
/*-- MIXINS --*/
/*-- MAPS --*/
/*-- GENERAL --*/
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: Roboto, sans-serif;
  color: #1e272e;
}

body {
  background-color: #fff;
}

h1, h2, h3 {
  font-size: 1.5rem;
}

a {
  text-decoration: none;
}

/*-- HEADER --*/
.heading {
  width: 100%;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  position: relative;
  z-index: 1;
  font-family: Shrikhand, cursive;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-shadow: 2px 3px 3px rgba(128, 128, 128, 0.171);
          box-shadow: 2px 3px 3px rgba(128, 128, 128, 0.171);
}

.heading__img {
  width: 45%;
  min-width: 167px;
  max-width: 280px;
  margin: 1.4rem 0 0.8rem;
  opacity: 95%;
}

/*-- SECTION LOCALISATION --*/
.localisation {
  background-color: #f0f0f0;
  width: 100%;
  height: 2.2rem;
  padding: 1.5rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
}

.localisation__para {
  padding: 0 1.2rem 0;
}

/*-- SECTION EXPLORER --*/
.explorez {
  padding: 2rem 2rem;
  text-align: center;
  height: 18rem;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#fff), to(rgba(236, 236, 236, 0.685)));
  background-image: linear-gradient(to bottom, #fff, rgba(236, 236, 236, 0.685));
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
}

.explorez__para {
  font-size: 1.1rem;
  font-weight: 300;
  color: #555555;
}

.explorez h1 {
  padding: 0 1.7rem;
}

/*-- COMPONENT BTN --*/
.btn {
  font-size: 1rem;
  padding: 0.9rem 1.3rem;
  margin: 0.7rem 0;
  color: #eeeeee;
  background-image: -webkit-gradient(linear, left top, right bottom, from(#FF79DA), to(#9356DC));
  background-image: linear-gradient(to bottom right, #FF79DA, #9356DC);
  border: none;
  border-radius: 1.7rem;
  -webkit-box-shadow: 2px 3px 9px 1px rgba(128, 128, 128, 0.26);
          box-shadow: 2px 3px 9px 1px rgba(128, 128, 128, 0.26);
}

.btn a {
  color: #eeeeee;
}

.btn:hover, .btn:focus {
  -webkit-box-shadow: 2px 3px 9px 1px rgba(128, 128, 128, 0.623);
          box-shadow: 2px 3px 9px 1px rgba(128, 128, 128, 0.623);
  opacity: 0.9;
  -webkit-transition: 0.2s ease-in;
  transition: 0.2s ease-in;
}

/*-- SECTION FONCTIONNEMENT --*/
.fonctionnement {
  width: 100%;
  padding: 1.8rem 1.2rem;
}

.fonctionnement h2 {
  margin: 1rem 0;
}

.fonctionnement__container {
  padding: 1rem 0;
  width: 100%;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.fonctionnement__carte {
  width: 96%;
  max-width: 20rem;
  padding: 1.6rem 0;
  margin-bottom: 1.6rem;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  background-color: whitesmoke;
  border-radius: 20px;
  -webkit-box-shadow: 2px 3px 9px 1px rgba(128, 128, 128, 0.26);
          box-shadow: 2px 3px 9px 1px rgba(128, 128, 128, 0.26);
}

.fonctionnement__carte i {
  width: 15px;
  padding: 0 2.5rem;
  color: #555555;
}

.fonctionnement__carte span {
  position: absolute;
  padding: 0.3rem 0.5rem;
  font-size: 0.8rem;
  border-radius: 1rem;
  color: #eeeeee;
  background-color: #9356DC;
  -webkit-transform: translate(-50%);
          transform: translate(-50%);
}

.fonctionnement__carte--highlighted {
  background-color: #f2eafb;
}

.fonctionnement__carte--highlighted i {
  color: #9356DC;
}

.fonctionnement__carte:hover {
  -webkit-box-shadow: 2px 3px 9px 1px rgba(128, 128, 128, 0.623);
          box-shadow: 2px 3px 9px 1px rgba(128, 128, 128, 0.623);
  -webkit-transition: 0.2s ease-in;
  transition: 0.2s ease-in;
}

/*-- SECTION RESTAURANTS --*/
.restaurants {
  width: 100%;
  padding: 1.8rem 1.2rem;
  background-color: #f0f0f0;
}

.restaurants h3 {
  margin: 1rem 0;
}

.restaurants-container {
  width: 100%;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.restaurants-carte {
  width: 100%;
  margin: 0.5rem 0;
  position: relative;
  overflow: hidden;
  background-color: #fff;
  border-top-left-radius: 1rem;
  border-top-right-radius: 1rem;
  border-bottom-left-radius: 1rem;
  border-bottom-right-radius: 1rem;
  -webkit-box-shadow: 2px 3px 9px 1px rgba(128, 128, 128, 0.26);
          box-shadow: 2px 3px 9px 1px rgba(128, 128, 128, 0.26);
}

.restaurants-carte__nouveau {
  position: absolute;
  top: 0;
  right: 0;
  font-size: 13px;
  padding: 0.5rem 0.8rem;
  background-color: #99E2D0;
  color: #278870;
  -webkit-transform: translate(-15%, 40%);
          transform: translate(-15%, 40%);
  border-radius: 2px;
}

.restaurants-carte__img {
  width: 100%;
  height: 11rem;
  -o-object-fit: cover;
     object-fit: cover;
}

.restaurants-carte__description {
  display: inline-block;
  padding: 0.6rem 0.8rem;
  line-height: 1.5rem;
}

.restaurants-carte__heading {
  font-size: 1.1rem;
  font-weight: bold;
}

.restaurants-carte__element {
  font-weight: 300;
  color: #555555;
}

/*-- FOOTER --*/
.footer {
  padding: 0 1.4rem 1.7rem;
  font-weight: 300;
  background-color: #363636;
}

.footer__heading {
  font-family: Shrikhand, cursive;
  font-size: 1.1rem;
  padding: 1.4rem 0 0.9rem;
  color: #eeeeee;
}

.footer p {
  color: #eeeeee;
}

.footer__element {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  margin-bottom: 0.2rem;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  height: 1.4rem;
}

.footer__element i {
  color: #eeeeee;
  width: 13px;
  margin-right: 0.5rem;
}

.footer__element .icon--utensils {
  padding-left: 2px;
  padding-top: 1px;
}

.footer__element .icon--hands {
  -webkit-transform: scale(0.8, 1);
          transform: scale(0.8, 1);
}

.footer__element a {
  color: #eeeeee;
  text-decoration: none;
}

.footer__element--bold {
  font-weight: 400;
}

.footer__element:hover {
  font-size: 1.1rem;
  -webkit-transition: 0.2s ease-in;
  transition: 0.2s ease-in;
  cursor: pointer;
  text-shadow: 3px 4px 4px #1e272e;
}
/*# sourceMappingURL=style.css.map */